<div class = "titlecard">
  <div class="titlecontainer">
      CLASS ACTIVITY
  </div>
</div>


<div class="card">
    <div class="container">
      <button mat-raised-button color="primary" (click)="createSurvey()">Create Survey</button>
      <br><br>
      <br><br>
      <button mat-raised-button color="accent" (click)="takeSurvey()">Take Survey</button>
      <br><br>
      <br><br>
      <button mat-raised-button color="warn" (click)="logout()">Log Out</button>
    </div>
</div>

<mat-card class="intro">
  <mat-card-content>
      <h1>Welcome To The Class Activity App!</h1>
      <br><br>
      <h3>This is an interactive app for users who want to create and play different 
      quizzes/surveys with their friends,family or colleagues. The user once signed in, can
      see the Navigation panel on the left. It can be used to log out of this application.
      <br><br>
      The user can then select options of creating a survey or playing a survey.
      The 'Take survey' button takes the user to his/her own set of created surveys.
      Inside that, the user can see 'Take all Surveys' button, which in turn shows the 
      user, the surveys, created by other users. Then on clicking on any survey,
      the user can cast his/her vote. After succesful submission, they can see how they
      have performed against all the other users who have taken the same survey.
      <br><br>
      So what are you waiting for? Go create some cool new surveys and share it with
      your friends! We hope you will enjoy the app!
      <br>
      </h3>
  </mat-card-content>
</mat-card>
