
<mat-card class="card">
    
    <img src="/assets/p.jpg" alt="image">

    <p class="reg">Register</p>

    <form class="formfield" [formGroup]="form" (ngSubmit)="register(form)">
        <mat-form-field class="fullwidth">
        <input type="email" matInput placeholder="UserName" formControlName="email">
        </mat-form-field>

        <br><br><br>

        <mat-form-field class="fullwidth">
        <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <br><br>
        <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='./login'>Already Registered?</a>
    </form>
</mat-card>